
.DS_Store
*.xcuserstate
ColorStamps.xcodeproj/project.pbxproj
ColorStamps.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ColorStamps.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcbkptlist
ColorStamps.xcodeproj/xcuserdata/varun.xcuserdatad/xcschemes/xcschememanagement.plist
